/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {  
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/
/** {
    font-family: Gotham-Medium, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.2s linear;
    line-height: 1;
}

:root {
    --color: #2c2e53;
    --color-hover: #131317;
}

@media(min-width:768px) {
    html {
        font-size: 16px
    }
}

html, body {
    background: #f3f3f3;
    font-family: Gotham-Medium, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

a {
    text-decoration: none;
    color: var(--color);
    font-weight:bold;
}

a:hover {
    color: var(--color-hover);
}
p{
    margin: 0.25rem 0;
}

.product-card {
    margin: 1rem 0;
    padding: 5px;
    position: relative;
    border-radius:5px;
    overflow: hidden;
    border: 1px solid #e6e6e6;
}
.product-card-box-img {
    margin: .5rem;
    overflow: hidden;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.product-card:hover, .product-card-box-img:hover img {
    box-shadow: 0 1px 7px 0 rgb(0 0 0 / 35%);
    cursor: pointer;

}

.product-card:hover img {
    transform: scale(1.5);
    transform: 3s all;
}
.product-card-content {
    margin-top: 1rem;
    text-align: center;
}
.product-card-image {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.product-card-content .title {
    color: var(--color);
}
.product-card-content .old-price{
    font-size: 0.85rem;
    color: #888888;
    text-decoration: line-through;
}

.product-card-content .new-price {
    font-size: 0.85rem;
    color: #222222;
}
.bg-white{
    background: #fff !important;
}
.product-card a i {
    color: #bd945f;
    font-style: normal;
}
.product-card a:hover i {
    color: #337609;
    font-weight: bold;
}

footer{
    position: relative !important;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}*/

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.menuStudent {
    position: fixed;
    right: 10%;
    padding: 0 1rem;
    background-color: azure;
    font-size: 50px;
}

.openMenu {
    position: fixed;
    background-color: ghostwhite;
    right: 10%;
    overflow: auto;
    height: 70%;
    border-radius: 15px;
    padding: 1rem;
    transition: right 0.5s; /* Transition for smooth animation */
    animation-name: slideInLeft; /* Specify the animation */
    animation-duration: 0.5s; /* Animation duration */
}

.InfStudent {
    position: fixed;
    right: 0;
    width: 200px;
    padding: 2rem;
    background-color: ghostwhite;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20px;
    color: sienna;
}

.menuStudent:hover {
    cursor: pointer;
}

.openMenu > .w3-bar-item {
    text-decoration: none;
    font-size: 20px;
    position: fixed;
    right: 15%;
    background-color: midnightblue;
    padding: 0.5rem;
    border-radius: inherit;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.footer .container {
    color: aliceblue;
}

body {
    background-color: darkslategrey !important;
}

.main {
    background-color: ghostwhite;
    padding-top: 2rem;
    box-shadow: 30px 20px 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
}