@model DanhGiaRenLuyen_V2.Models.DBModel.SumaryOfPoint

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Create</h1>

<h4>SumaryOfPoint</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <select asp-for="StudentId" class ="form-control" asp-items="ViewBag.StudentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SemesterId" class="control-label"></label>
                <select asp-for="SemesterId" class ="form-control" asp-items="ViewBag.SemesterId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SelfPoint" class="control-label"></label>
                <input asp-for="SelfPoint" class="form-control" />
                <span asp-validation-for="SelfPoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassPoint" class="control-label"></label>
                <input asp-for="ClassPoint" class="form-control" />
                <span asp-validation-for="ClassPoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LecturerPoint" class="control-label"></label>
                <input asp-for="LecturerPoint" class="form-control" />
                <span asp-validation-for="LecturerPoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Classify" class="control-label"></label>
                <input asp-for="Classify" class="form-control" />
                <span asp-validation-for="Classify" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserClass" class="control-label"></label>
                <input asp-for="UserClass" class="form-control" />
                <span asp-validation-for="UserClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserLecturer" class="control-label"></label>
                <input asp-for="UserLecturer" class="form-control" />
                <span asp-validation-for="UserLecturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateDate" class="control-label"></label>
                <input asp-for="UpdateDate" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
