@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-md-3">
        <h2>Danh mục</h2>
        <ul>
            <li>Quần áO</li>
            <li>Túi xách</li>
            <li>Đồng hồ</li>
            <li>Ti vi</li>
            <li>Tủ lạnh</li>
            <li>Máy bơm</li>
            <li>Quạt điện</li>
            <li>Lò sưởi</li>
        </ul>
    </div>
    <div class="col-md-9">
        <h2>Danh sách sản phẩm</h2>
        <div class="row">
            <div class="col-md-4">
                <div>
                    <img src="" alt="img" />
                </div>
                <div>
                    <h3>Bộ đồ chơi cho trẻ em</h3>
                    <div>Giá </div>
                    <div>Giá</div>
                </div>
                <button class="btn btn-success">Chi tiet</button>
            </div>

        </div>
    </div>

</div>