@using DanhGiaRenLuyen_V4.Models.DBModel;
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    var ss = HttpContextAccessor.HttpContext.Session.GetString("LTLogin");
    var ss1 = HttpContextAccessor.HttpContext.Session.GetString("StudentLogin");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DanhGiaRenLuyen_V4</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DanhGiaRenLuyen_V4.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="Student" asp-controller="Home" asp-action="Index">Đại học Nguyễn Trãi</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Student" asp-controller="DGRL" asp-action="Index">Tự đánh giá rèn luyện</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Student" asp-controller="History" asp-action="Self">Lịch sử đánh giá</a>
                        </li>
                        @if(ss != null){
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Student" asp-controller="LT_DGRL" asp-action="Index">Đánh giá cho lớp</a>
                        </li>
                        }
                    </ul>
                    <ul class="navbar-nav flex-grow-1">
                        @if (ss1 != null)
                        {
                            var st = Newtonsoft.Json.JsonConvert.DeserializeObject<AccountStudent>(ss1);
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Student" asp-controller="Login" asp-action="Logout">Đăng xuất(@st.UserName)</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - DanhGiaRenLuyen_V4 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
