@model DanhGiaRenLuyen_V5.Models.DBModel.AccountStudent;
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Đăng nhập sinh viên";
    Layout = "~/Areas/Student/Views/Shared/_LayoutStudent.cshtml";
	var ss = HttpContextAccessor.HttpContext.Session.GetString("StudentLogin");
}
<section class="Login">
	@if (ss != null)
	{
		<div>
			<h2 class="text-center my-2 py-2">Bạn đã đăng nhập thành công, @ViewBag.Student.UserName</h2>
		</div>
	}
	else
	{
		<div class="background">
			<div class="shape"></div>
			<div class="shape"></div>
		</div>
		<form asp-action="Index" method="post">
			<h3>Sinh viên đăng nhập tại đây !!!</h3>

			<label for="username">Mã sinh viên</label>
			<input type="text" asp-for=UserName placeholder="Mã sinh viên" id="username" required="">

			<label for="password">Mật khẩu</label>
			<input type="password" asp-for=Password placeholder="Mật khẩu" id="password" required="" value="12345">
			<div class="text-danger"><i class="text-danger">@TempData["errorLogin"]</i></div>

			<input type="submit" value="Đăng nhập">
		</form>
	}
</section>

