@model IEnumerable<DanhGiaRenLuyen_V4.Models.DBModel.Semester>
@{
    ViewData["Title"] = "History";
    Layout = "~/Areas/Student/Views/Shared/_LayoutStudent.cshtml";
}


<h1>Kì đánh giá rèn luyện:</h1>
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <h5>Kết quả đánh giá</h5>
            <ul class="navbar-nav flex-grow-1">
                @foreach (var item in Model)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Student" asp-controller="History" asp-action="Self" asp-route-semesterId="@item.Id"> @item.SchoolYear (Kỳ @item.Name)</a>
                    </li>
                }
            </ul>

        </div>
    </div>
</nav>

