@model DanhGiaRenLuyen_V5.Models.DBModel.Students

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Sửa</h1>

<h4>Sinh viên</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="isDelete" value="@ViewBag.IsDelete.ToString()" />
            <input type="hidden" asp-for="Id" readonly />
            <input type="hidden" name="departmentId" value="@ViewBag.DepartmentId" />
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthday" class="control-label"></label>
                <input type="date" asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select asp-for="Gender" class="form-control">
                    <option value="true">Nữ</option>
                    <option value="false">Nam</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassId" class="control-label"></label>
                <select asp-for="ClassId" class="form-control" asp-items="ViewBag.ClassId"></select>
                <span asp-validation-for="ClassId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PositionId" class="control-label"></label>
                <select asp-for="PositionId" class="form-control" asp-items="ViewBag.PositionId"></select>
                <span asp-validation-for="PositionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsActive" class="control-label"></label>
                <select asp-for="IsActive" class="form-control">
                    <option value="1">Đang học</option>
                    <option value="2">Bảo lưu</option>
                    <option value="3">Tốt nghiệp</option>
                    <option value="0">Bỏ học</option>
                </select>
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-departmentId="@ViewBag.DepartmentId" asp-route-isDelete="@ViewBag.IsDelete">Quay lại</a>
</div>

