
@{
    ViewData["Title"] = "Status";
    Layout = "~/Areas/Lecturer/Views/Shared/_LayoutLecturer.cshtml";
}
<p class="text-danger">Chọn sinh viên để xem lịch sử đánh giá</p>
<div class="row">
        <div class="col ">
            @await Component.InvokeAsync("ST")
        </div>
</div>

