@model DanhGiaRenLuyen_V4.Models.DBModel.AccountLecturer
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Đăng nhập giảng viên";
    Layout = "~/Areas/Lecturer/Views/Shared/_LayoutLecturer.cshtml";
}


<!-- Style -->
<link href="~/Student/login/css/style.css" rel="stylesheet" />
<!-- Fonts -->
<link href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
<!-- //Fonts -->

<div class="w3layoutscontaineragileits">
	<h2>Giảng viên đăng nhập tại đây</h2>
	@{
		var ss = HttpContextAccessor.HttpContext.Session.GetString("LecturerLogin");
		if (ss != null)
		{
			<div>
				<h2 class="text-center my-2 py-2">Bạn đã đăng nhập thành công, @ViewBag.Lecturer.UserName</h2>
			</div>
		}
		else
		{
			<form asp-action="Index" method="post">
				<input type="text" asp-for="UserName" placeholder="Mã sinh viên" required="">
				<input type="password" asp-for="Password" placeholder="Mật khẩu" required="">
				<ul class="agileinfotickwthree">
					<li>
						<input type="checkbox" id="brand1" value="">
						<label for="brand1"><span></span>Remember me</label>
						<a href="#">Forgot password?</a>
					</li>
				</ul>
				<div class="text-danger"><p>@TempData["errorLogin"]</p></div>
				<div class="aitssendbuttonw3ls">
					<input type="submit" value="LOGIN">
				</div>
			</form>
		}
	}
</div>


