@model IEnumerable<DanhGiaRenLuyen_V5.Models.DBModel.Students>
<form asp-controller="Student" asp-action="Index" method="get">
    <select name="classId" asp-items="ViewBag.ClassId">
        <option selected>Tất cả</option>
    </select>
    <input type="text" name="name" placeholder="Nhập tên sinh viên" value="@ViewBag.name">
    <button type="submit">Tìm kiếm</button>
</form>
<hr />

@if (Model.FirstOrDefault() != null){
    <table class="table">
        <tbody class="table-group-divider">

    @foreach (var item in Model)
    {
        <tr>
            <td><b>@item.FullName</b></td>
            <td><p>(@item.Id)</p></td>
            @if (item.IsActive == 1)
            {
                 <td> <a class="nav-link text-dark btn btn-success" asp-area="Lecturer" asp-controller="Result" asp-action="Lecturer" asp-route-studentId="@item.Id">Chọn</a></td>
            }
        </tr>
        }
        </tbody>
    </table>
}    
else
{
    <div class="alert alert-danger">
        <h5>Không tìm thấy sinh viên nào !!!</h5>
    </div>
}

