

@model DanhGiaRenLuyen_V5.Models.DBModel.AccountAdmin
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Style -->
<link href="~/Student/login/css/style.css" rel="stylesheet" />
<!-- Fonts -->
<link href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
<!-- //Fonts -->

		<div class="w3layoutscontaineragileits">
			@{
				var ss = HttpContextAccessor.HttpContext.Session.GetString("AdminLogin");
				if (ss != null)
				{
					<div>
						<h2 class="text-center my-2 py-2">Bạn đã đăng nhập thành công, @ViewBag.Admin.UserName</h2>
					</div>
				}
				else
				{
			<div class="login-box">
				<div class="login-logo">
					<a href="#"><b>Admin đăng nhập tại đây</b></a>
				</div>

				<div class="card">
					<div class="card-body login-card-body">
						<p class="login-box-msg">Đăng nhập</p>
						<form asp-action="Index" method="post">
							<div class="input-group mb-3">
								<input class="form-control" placeholder="Tên đăng nhập" asp-for="UserName" required="">
								<div class="input-group-append">
									<div class="input-group-text">
										<span class="fas fa-envelope"></span>
									</div>
								</div>
							</div>
							<div class="input-group mb-3">
								<input type="password" class="form-control" placeholder="Mật khẩu" asp-for="Password" required="" value="12345">
								<div class="input-group-append">
									<div class="input-group-text">
										<span class="fas fa-lock"></span>
									</div>
								</div>
							</div>
							<div class="text-danger"><i class="text-danger">@TempData["errorLogin"]</i></div>
							<div class="row">
								<div class="col-8">
									<div class="icheck-primary">
										<input type="checkbox" id="remember">
										<label for="remember">
											Remember Me
										</label>
									</div>
								</div>

								<div class="col-4">
									<button type="submit" class="btn btn-primary btn-block">Sign In</button>
								</div>

							</div>
						</form>
					</div>

				</div>
			</div>
				}
			}
		</div>





