@model DanhGiaRenLuyen_V6.Models.DBModel.Semester

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Sửa thời gian</h1>

<h4>Kì đánh giá</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IsActive" value="1" />
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="hidden" asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="SchoolYear" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DateOpenStudent" class="control-label">Ngày mở</label>
                <input type="date" asp-for="DateOpenStudent" id="DateOpenStudent" class="form-control" />
                <span asp-validation-for="DateOpenStudent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateEndStudent" class="control-label">Ngày kết thúc tự đánh giá</label>
                <input type="date" asp-for="DateEndStudent" id="DateEndStudent" class="form-control" />
                <span asp-validation-for="DateEndStudent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateEndClass" class="control-label">Ngày kết thúc cán bộ lớp đánh giá</label>
                <input type="date" asp-for="DateEndClass" id="DateEndClass" class="form-control" />
                <span asp-validation-for="DateEndClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateEndLecturer" class="control-label">Ngày kết thúc giảng viên đánh giá</label>
                <input type="date" asp-for="DateEndLecturer" id="DateEndLecturer" class="form-control" />
                <span asp-validation-for="DateEndLecturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" onclick="return compareDates();" class="btn btn-primary">Lưu lại</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay lại</a>
</div>

